project_id = "kejblmetyrsehzvrxgmt"

[api]
enabled = true
port = 54321
schemas = ["public", "graphql_public"]
extra_search_path = ["public", "extensions"]
max_rows = 1000

[db]
port = 54322

[db.pooler]
enabled = false
port = 54329
pool_mode = "transaction"
default_pool_size = 20
max_client_conn = 100

[realtime]
enabled = true
ip_version = "IPv4"

[studio]
enabled = true
port = 54323
api_url = "http://127.0.0.1:54321"

[inbucket]
enabled = true
port = 54324
smtp_port = 54325
pop3_port = 54326

[storage]
enabled = true
file_size_limit = "50MiB"

[auth]
enabled = true
site_url = "http://127.0.0.1:3000"
jwt_expiry = 3600

[auth.email]
enable_signup = true
double_confirm_changes = true
enable_confirmations = true

[functions.create-subscription]
verify_jwt = true

[functions.update-subscription]
verify_jwt = true

[functions.setup-organization]
verify_jwt = false

[functions.send-demo-request]
verify_jwt = false

[functions.secure-profile-operations]
verify_jwt = true

[functions.geocode-postcode]
verify_jwt = false

[functions.create-payment-intent]
verify_jwt = false

[functions.manager-change-password]
verify_jwt = true

[functions.delete-organization]
verify_jwt = true

[functions.import-uk-postcodes]
verify_jwt = true

[functions.upgrade-subscription-plan]
verify_jwt = true

[functions.send-amendment-notification]
verify_jwt = false

[functions.get-jobs-with-worker-counts]
verify_jwt = true

[functions.send-invitation-email]
verify_jwt = false
